.scroll-stack-scroller {
    position: relative;
    width: 100%;
}

.scroll-stack-inner {
    position: relative;
    width: 100%;
    perspective: 1000px;
}

.scroll-stack-card-wrapper {
    position: relative;
    width: 100%;
    /* margin-bottom is set dynamically in JS */
}

.scroll-stack-card {
    position: relative;
    will-change: transform, filter;
    transform-origin: top center;
    width: 100%;
    backface-visibility: hidden;
}

.scroll-stack-end {
    height: 100px;
    width: 100%;
    pointer-events: none;
}